<template>
  <main>
    <h1 class="display-1 my-8"> Hola, gracias por visitar mi web 🍥</h1>
    <p class=" text pl-5 mt-2">
      <!-- eslint-disable-next-line -->
      Soy un desarrollador frontend apasionado por la tecnología y el desarrolo de software libre, actualmente estoy trabajando con entornos angular y vue y su integración con los contenedores y aún falta mucho por aprender, así que si tienes ganas de platicar o debatir algo no dudes en contactarme.
    </p>
  </main>
</template>

<script>

export default {
  name: 'Init',
};
</script>

<style lang="scss">
  .text{
    width: 75%;
  }

</style>
