<template>
  <main>
    <v-list class="links"  >
      <v-subheader>Tutoriales Web</v-subheader>
      <v-list-item-group v-model="tutorial" color="primary">
        <v-list-item
          v-for="(tutorial, i) in tutorials"
          :key="i"
          @click="openLink(tutorial.link)"
        >
          <v-list-item-icon>
            <v-icon
              class="material-icons"
              color="white"
              v-text="tutorial.icon"
            >
            </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="tutorial.name">
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>

  </main>
</template>

<script>

import tutorials from '../assets/tutorialsData.json';

export default {
  name: 'Links',

  data: () => ({
    tutorial: 1,
    tutorials,
  }),

  methods: {
    openLink(link) {
      window.open(link, '_blank');
    },
  },
};
</script>

<style scoped lang="scss">
  .content {
    width: 90%;
    background-color: tomato;
  }

  .links {
    width: 90%;
  }
</style>
