<template>
  <main class="content">
    <h1 class="display-1 mb-8">Juan Carlos Bodoque</h1>
    <video class="video" autoplay controls>
      <source src="../assets/video.mp4" type="video/mp4">
    </video>
  </main>
</template>

<script>

export default {
  name: 'Personage',
};
</script>

<style scoped lang="scss">
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .video {
    width: 90%;
    align-self: center;
    @media screen and (min-width: '1100px') {
      align-self: flex-start;
      padding-left: 8em;
      width: 60%;
    }
  }
</style>>
