<template>
  <main class="main">
    <h2 class="display-1 my-8"> Ver el código fuente del proyecto </h2>
    <v-btn
      class="button mt-4"
      tiled
      @click="openLink()"
    >
      <span class="material-icons">code </span>
      Click Aquí
    </v-btn>
  </main>
</template>

<script>

export default {
  name: 'Project',
  methods: {
    openLink() {
      const link = 'https://bitbucket.org/sam-pc0/personal_web/';
      window.open(link, '_blank');
    },
  },
};
</script>

<style scoped lang="scss">
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .button {
    width: 70%;
    align-self: center;
  }
</style>
