<template>
  <main class="content">
    <img
      class="image"
      src="../assets/album.jpg"
      alt="song image"
    />
    <audio autoplay controls class="audio">
      <source src="../assets/song.mp3" type="audio/mp3" />
    </audio>
  </main>
</template>

<script>
export default {
  name: 'Song',
};
</script>

<style scoped lang="scss">
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  margin: 2em 0;
  width: 95%;
  @media screen and (min-width: 1100px){
    width: 52%;
  }
}
.audio {
  width: 95%;
  @media screen and (min-width: 1100px){
    width: 80%;
  }
 }
</style>
