<template>
   <v-card color="basil">
    <v-card-title class="text-center flex-column justify-center py-6">
      <v-avatar size="7em" class="my-5">
        <img
          src="../assets/face.jpg"
          alt="Sam"
        >
      </v-avatar>
      <h1 class="font-weight-bold display-3 basil--text">Sam Padilla</h1>
    </v-card-title>

    <v-tabs
      v-model="tab"
      background-color="transparent"
      color="basil"
      grow
    >
      <v-tab
        v-for="item in items"
        :key="item"
        @click="changeView(item,$event)"
      >
        {{ item }}
      </v-tab>
    </v-tabs>
  </v-card>
</template>

<script>
export default {
  name: 'navbar',
  data() {
    return {
      tab: null,
      items: [
        'Inicio', 'Cancion', 'Links', 'Proyecto', 'Personaje',
      ],
    };
  },

  methods: {
    changeView(item, event) {
      event.preventDefault();
      const routes = {
        Inicio: 'init',
        Cancion: 'song',
        Personaje: 'personage',
        Links: 'links',
        Proyecto: 'project',
      };
      const routeToChange = routes[item];
      if (this.$router.currentRoute.name !== routeToChange) {
        this.$router.push({ name: routeToChange });
      }
    },
  },
};
</script>

<style>

</style>
