<template>
  <v-app>
    <v-main class="layout">
      <navbar class="navbar" ></navbar>
      <router-view class="view"></router-view>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';

import Navbar from './components/navbar.vue';

export default Vue.extend({
  name: 'App',

  mounted() {
    document.title = 'Web Personal';
  },

  components: {
    Navbar,
  },

  data: () => ({
    //
  }),
});
</script>

<style scoped lang="scss">
  .layout {
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 1100px){
      width: 85%;
    }
  }

  .navbar {
    width: 100%;
  }

  .view {
    padding: 2em;
  }

</style>>
